#assetUploadInput{filter:alpha(opacity=0)}#row1{width:600px}#overlay{background-color:#000;background-image:none;filter:alpha(opacity=40)}* html
#overlay{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')}* html
#popup{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)+'px')}.overlayFill{filter:alpha(opacity=30)}.overlayEffects, .overlay.hover
.overlayEffects{background-image:none}.widgetBox{height:1%}#librarySearch{position:relative}#librarySearch{width:186px}#librarySearch
input{line-height:14px}#librarySearch
#searchIcon{position:relative;right:0px;margin-bottom:-10px;top:-16px}#continuePlusIcon,#continueCheckIcon{left:0px}#contentSelectWrapper{width:620px}.contentSelect{width:280px}#addMediaContainer .contentSelect
h4{margin-top:3px}.contentList{width:600px}.contentList
li{width:290px}.contentList li
.boxText{padding:0
8px;width:192px}.contentList li
.boxContent{width:274px}.contentList li
.deleteItem{background:url(/images/global_sprite.png) no-repeat -238px -20px;width:13px}.contentList li .deleteItem:hover{background:url(/images/global_sprite.png) no-repeat -250px -20px}.contentList li
.itemOverlay{filter:alpha(opacity=40)}.contentList
li.availableDragging{filter:alpha(opacity=60)}.contentList li.ui-draggable-dragging{filter:alpha(opacity=90)}